$palettes: (
        blue-grey: (
                50: #ECEFF1,
                100: #CFD8DC,
                200: #B0BEC5,
                300: #90A4AE,
                400: #78909C,
                500: #607D8B,
                600: #546E7A,
                700: #455A64,
                800: #37474F,
                900: #263238,
        ),
        blue: (
                100: #E3F2FD,
                200: #BBDEFB,
                300: #90CAF9,
                400: #64B5F6,
                500: #42A5F5,
                600: #2196F3,
                700: #1E88E5,
                800: #1976D2,
                900: #1565C0,
                A100: #0D47A1,
                A200: #82B1FF,
                A400: #448AFF,
                A700: #2979FF,
        ),
);

:root {
  @each $colorname, $palette in $palettes {
    @each $key, $value in $palette {
      $keyname: "--palette-" + $colorname + "-" + $key;
      #{$keyname}: #{$value};
    }
  }
};

body {
  background-color: var(--palette-blue-900);
}


